<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <!-- <link rel="stylesheet" href="/css/syntax.css"> -->

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="/css/main.css"> -->


        <link rel="icon" href="/static/images/favicon.jpg" type="image/jpeg" />
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
        <!-- 24 column grid layout with blueprint -->
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />
        <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

    </head>

    <body>
        <div class="container main">

        <!-- header -->
        <div class="header">
        <div class="span-24 banner">
        <img src="/static/images/cochetopa_banner_950.jpg" alt="banner" title="Cochetopa Hills, Colorado, USA"/>
        </div> <!-- end banner -->
        <div class="span-24 nav"> 
        <ul>
        <li><a href="/">Home</a></li> 
        <li><a href="http://blog.todddeluca.com">Blog</a></li> 
        <li><a href="#contact">Contact</a></li> 
        </ul>
        </div> <!-- end menu nav -->
        </div><!-- end header -->

        <!-- content -->
        <div class="span-24 content">
        {% comment %}
        <p class="maintenance">This website is currently undergoing routine maintenance.  Thank you for your patience while the site is unavailable.</p>
        {% endcomment %}
        {{ content }}
        </div> 
        <!-- end content -->

        <!-- footer -->
        <div class="span-24 footer">
        &#169; 2008 - {{ site.time | date: '%Y' }}
        </div><!-- end footer -->
         
        </div> <!-- end main -->

    </body> 
</html> 
